{% extends 'base.html.twig' %}

{% block title %}Degustimer{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% if (runningTaskSpan) %}
        <h1>Task actually running : {{ runningTaskSpan.getTask().getName() }}</h1>
    {% else %}
        <h1>No task running actually</h1>
    {% endif %}

    <div class="container">
    <p>Today, I have worked {{ todaysWorkingTime }}</p>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Start">
    {{ form_end(form) }}

    {{ form_start(stopTaskForm) }}
        {{ form_widget(stopTaskForm) }}
        <input type="submit" value="Stop">
    {{ form_end(stopTaskForm) }}

    {% for message in app.flashes('message') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
</div>
<div class="container">
    {% for day, dailySummary in summary %}
        {{ day }}
        {% for taskName, taskSpanTime in dailySummary %}
            {{ taskName }} : {{ taskSpanTime.format('%h:%i:%s') }}
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
