{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="container">

<div class="title-container">
    <h1>Degustimer</h1>
</div>

        {% if (runningTaskSpan) %}
        <div id="task-actually-running">
            <div class="running-task-name"><p>{{ runningTaskSpan.getTask().getName()[:25] }}</p></div>
            <div class="timer"><p>00:00</p></div>
            <div class="stop-button-container">
                {{ form_start(stopTaskForm) }}
                {{ form_widget(stopTaskForm) }}
                    <input id="stop-button" class="submit-button" type="submit" value="Stop">
                {{ form_end(stopTaskForm) }}
            </div>
        </div>
        {% endif %}

    {{ form_start(form, {'attr' : { 'class' : 'task-form'}}) }}
        {{ form_row(form.name, {'label' : false, 'attr' : {'placeholder' : 'Task name', 'class' : 'name-input'}}) }}
        {{ form_widget(form) }}
        <input id="start-button" class="submit-button" type="submit" value="Start">
    {{ form_end(form) }}

</div>



<div id="task-list" class="container">
    {% for day, dailySummary in summary %}
    <div class="task-daily-list">
    <div class="task-list-day-container">
        <div class="task-list-element-left"><p>{% if (today == day) %}Today</p></div><div class="task-list-element-right"><p>{{ todaysWorkingTime }}{% else %}{{ day }}{% endif %}</p></div>
        </div>
        {% for taskName, taskSpanTime in dailySummary %}
        <div class="task-list-task-container">
            <div class="task-list-element-left"><p class="task">{{ taskName }}</p></div>  <div class="task-list-element-right"><p class="time">{{ taskSpanTime.format('%h:%I:%S') }}</p></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>


{% for message in app.flashes('message') %}<div class="notifier"><small>{{ message }}</small></div>{% endfor %}

{% endblock %}
